

.css_poligon{
    font-size: larger;
    size: 15;
    background-color: rgb(255 198 105);
    text-decoration: none;
    display: inline-block;
    margin: 1px 5px 1px 5px;
    border: 2px solid rgb(250, 182, 74);
    font-weight: bolder;
}
a:visited{
    color: blue;
}
a:active{
    color: blue;
}
a:hover{
    color: blue;}

a.yt{
        color: brown;   
    }

a:active{
    color: #000;
}

a:focus{
    font-weight: bold;
}