p::first-letter{
    font-size: 40px;
    color: rgb(42, 42, 255);
}
p::selection{
    background-color: lawngreen;
    color:maroon;
}

span {
    font-size: 30px;
    font-weight: bolder;
}

h1::after{
    content: " site";
    color: chartreuse;
}
h1::before{
    content: "This is ";
    color: crimson;
}

.list1 li::first-letter{
    color: darkmagenta;
    font-size: 20px;
}

.list2 li:nth-child(even){
    color: dimgray;
    background-color: lightsteelblue;
}

.list2 li:nth-child(odd){
    color: lightsteelblue;
    background-color: dimgray;
}

.list3 li:nth-child(3n + 1){
    border: 3px solid fuchsia;
}

.list3 li:nth-child(2n + 2){
    color:rgb(42, 42, 255);
}
.list3{
    background-color: rgb(119, 119, 119);
}


.text span:nth-child(even){
    border: 5px solid rgb(255, 230, 0);
}


.text span:last-of-type{
    color: lawngreen;
    background-color: indigo;
}

.item{
    color: lightseagreen;
    font-weight: bold;
}


.list4 li:not(.item){
    border: 3px solid rgb(255, 115, 0);
}