a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:active{
    color: rgb(255, 255, 255);
}
a.yt{
        color: rgb(0,255, 0);   
    }
a:focus{
    font-weight: bold;
}


.css_poligon{
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-size: larger;
    size: 15;
    width: 175px;
    height: 22px;
    background-image: linear-gradient(45deg, rgba(255, 166, 0, 0.6), rgba(255, 255, 0, 0.6));
    text-decoration: none;
    display: inline-block;
    margin: 1px 5px 1px 5px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.75);
    transition: all 0.25s ease;
}
.css_poligon:hover{
    color: rgba(0, 0, 0, 0.85);
    background-image: repeating-linear-gradient(75deg,rgba(255, 0, 0, 0.6), rgba(229, 255, 0, 0.6));
    transform: scale(1.15);
    filter: saturate(150%);

}
.css_poligon:active{
    color: black;
}
.css_poligon:visited{
    color: black;
}


.grad{
    background-image: repeating-linear-gradient(300deg, rgba(66, 255, 230, 0.5), rgba(0, 26, 255, 0.5));
}
img{
    transition: all 0.5s ease;
    transform-origin: left bottom;
}
img:hover{
    filter: saturate(110%) brightness(110%) ;
    transform: rotate(-1.5deg) ;

}